@font-face {
  font-family: "customFont";
  src: url(font/customFont.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body>*{
  position: absolute;
}

body {
  transition: all 0.3s ease-in-out;
  background: rgb(255, 0, 0, 0.7);
  height: 100vh;
  user-select: none;
  display: grid;
  place-items: center;
  justify-content: center;
  overflow: hidden;
}

.center{
    background: rgba(255,255,255,0.5);
    
    border-radius: 1in;
    z-index: 100;
    transform: rotate(2deg);
    filter: drop-shadow( 10px -6px 5px rgba(0, 0, 0 , 0.4));
    transition: padding 1s;
    backdrop-filter: blur(2px);
}

.win{
  
  border-radius: 50%;
  background: rgb(0,255,0,0.6);
  background-image: linear-gradient(to bottom right, #72FFB6, black);
  transition: padding 2s;
  z-index: -1;
}
  
.col--1{
  margin-right: 37rem;
}

.col--3{ 
  margin-left: 37rem;
}

.row--1{
  margin-bottom: 37rem;
  transform: rotate(88deg);
}

.row--2{
  transform: rotate(88deg);
}

.row--3{
  margin-top: 37rem;
  transform: rotate(88deg);
}

.dia--1{
  padding: 280px 10px;
  transform: rotate(-45deg);
}

.dia--2{
  padding: 280px 10px;
  transform: rotate(45deg);
}

.container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,auto);
    width: 300px;
    gap: 50px;
    transform: translateX(-35%);
    cursor: url(images/denied.svg),auto;
    z-index: 1;
}

.cell{
    height: 140px;
    width: 140px;
    cursor: url(images/cross-cursor.svg),auto;
    display: grid;
    place-items: center;
    filter: drop-shadow( 12px 12px 4px rgba(0, 0, 0, .3));
}


.stickContainer {
  
  display: flex;
  transform: skew(-2deg, -2deg);
  animation: pulse 0.6s linear;
}

@keyframes pulse {
  0% { 
    scale: 0.3;
    transform: skew(2deg, -2deg);
  }
  60% {
    scale: 1.05;
    transform: skew(-2deg, 2deg);
  }
}
.stick {
  padding: 280px 20px;
  border-radius: 1in;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  margin: 70px;
  box-shadow: 20px 20px 10px 0 rgb(0, 0, 0, 0.3);
}

.vertical {
  position: absolute;
}

.horizontal {
  transform: rotate(90deg);
}
.horizontal .stick {
    box-shadow: 20px -20px 10px 0 rgb(0, 0, 0, 0.3);
}

p{
  font-size: 6rem;
  font-family: "customfont";
  transform: translate(300px,-300px);
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  color: whitesmoke
}
